pandas==2.1.3
numpy
matplotlib
seaborn
tensorflow==2.15.0
scikit-learn==1.4.0
imblearn
xgboost
sqlalchemy
joblib==1.3.2
streamlit
requests
great-expectations==0.18.8
pydantic
uvicorn
fastapi
python-dotenv
psycopg2-binary
python-multipart
requests
openai